@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
	No longer shall people say "I can't do maths" as our application Method&#9415; provides every learner will instant feedback.<br />

	<br />We provide students support in mathematics related subjects upto GCSE. Our Method&#9415; app uses cutting edge machine learning techniques to detect mistakes, provide corrections and generates step by step examples that the student can edit live.<br />

	<br />Say goodbye to typing equations into computers and work naturally using real paper. For the best experience use our Digital Paper&#9415; application, <a href="#">download now</a>.
</p>