@{
	ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	19 Quickthorn Crescent<br />
	Chatham<br />
	Kent<br />
	ME5 0TL<br />
	<abbr title="Phone">P:</abbr>
	+44 7501 988 498
</address>

<address>
	<strong>Support:</strong> <a href="mailto:Support@gruckion.com">Support@gruckion.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@gruckion.com">Marketing@gruckion.com</a>
</address>